<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/a_z</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.show_sql">true</property>
         <mapping class="Model.twowfourwh"/>
        <mapping class="Model.RationCard"/>
        <mapping class="Model.PanCard"/>
        <mapping  class="Model.aadharCard"/>
        <mapping  class="Model.gumasta"/>
        <mapping  class="Model.mediclaim"/>
        <mapping  class="Model.lic"/>
        <mapping class="Model.addGrantRenewal"/>
        <mapping class="Model.salaryIt"/>
        <mapping class="Model.passport2"/>
        <mapping class="Model.otherwork"/>
         <mapping class="Model.DrivingModel"/>
    <mapping class="Model.FoodModel"/>
    <mapping class="Model.LoanModel"/>
    </session-factory>
</hibernate-configuration>
